.chatBubble {
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top:20px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000000 solid 2px;
}

.chatBubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    left: -15px;
    top: 50%;
}

.chatBubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #000000;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -16px;
    left: -18px;
    top: 50%;
}

.chatUser {
    border-radius: 50%;
    width: 100px;
    height:100px;
    float:left;
}

.timeStamp {
    color: grey;
}
