.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.navbar-default {
    background-color: #000
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

#requestChat {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
}

#requestChat h3 {
    font-weight: bold;
    padding-bottom:10px;
    border-bottom: 2px solid black;
}